.body-color{
    background-color: #FFC2B2 !important;

}

@media (max-width: 1800px) and (min-width: 300px){

    /*Diseño navbar*/
    .nav-color{
        width: 100%;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
     }
     button:hover{
        background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% ) !important;
        
     }
     /*Color icono hamburguesa*/
     .fa-bars{
         color: #FFFFFF;
         
     }
     /*btn icono hamburguesa*/
     .btn-style{
         background-color:#FEBB22;
         border: 0;
     }
     /*Menu lateral izquierdo*/
     .menu{
         width: 200px;
         height: 640px;
        
     }

     a.dropdown-item{
       color: #6C6966;
     
        
    }
     .dropdown-item {
         margin-top: 1rem;
         
     }
     .dropdown-menu menu{
         margin-top: 0;
     }
     /*iconos menu lateral izq*/
     .icon{
         margin-right: 1rem;
     }
     /*****************************************************************************/
     /*Div publicidad*/
    .div-public1{
     margin-top: 20px;
     margin-right: 5px
     
    }
    .img-log{
     width: 200px;
     height: 200px;
    
    }
    .img-public{
     width: 150px;
     height: 150px;
     border-radius: 200px;
     
     
    }
    .img-publiH{
     width: 135px;
     height: 120px;
     margin-top: 29px;
     margin-right: 8px;
    }
 
    .div-public3{
     display: flex;
     justify-content: space-around;
     margin-top: 25px;
     margin-right: 5px;
     margin-left: 10px;
    }
    .div-inicio{
     background-color: #FFFFFF;
    }
    .div-homer{
     background-color: #FFFFFF;
     border-radius: 10px;
     width: 340px;
     height: 150px;
     margin: 10px;
     margin-top: 0;
     display: flex;
     justify-content: space-around;
    }
    .text-colorA{
     color: #FEBB22;
     margin-left: 15px;
     margin-top: 10px;
   
    }
    .text-colorB{
     color: rgba(128, 0, 128, 0.685);
     margin-left: 15px;
     margin-top: 10px;
    }
    .div-inicio{
     display: flex;
     justify-content: space-around;
     font-size: 13px;
     border-color:rgba(128, 0, 128, 0.685) ;
     height: 25px;
     width: 170px;
     margin-left: 5px;
     margin-right: 20px;
    }
    
    .btn-inicio{
     background-color:  #FEBB22;
     color: #FFFFFF;
     border-radius: 15px;
     border: 0;
     cursor: pointer;
    }
    .btn-inico:hover{
     background-color:  #f59f00;
     text-decoration: underline;
    }
    /*Bloqueo de contenido*/
    #contenido-1{
        display: none;
    }
    #contenido-2{
        display: block;
    }
    #contenido-3{
        display: none;
    }
    #contenido-4{
        display: none;
    }
    #contenido-5{
        display: none;
    }
    #contenido-6{
        display: none;
    }
    #contenido-7{
        display: none;
    }
    #contenido-8{
        display: none;
    }
    /**********************************************************************************************/
    /*Contenidos de submenus*/
    #sub-notificacion{
        display: none;
    }
    #sub-misPedidos{
        display: none;
    }
    #sub-cupones{
        display: none;
    }
    #sub-pago{
        display: none;
    }
    #sub-cuenta{
        display: none;
    }
    #sub-seguridad{
        display: none;
    }
    #sub-ayuda{
        display: none;
    }
       /************************************************************************************************************************/
/*Modal Inicio sesión*/
.modal-inicio{
    margin-top: 40%;
  }
  
  .btn-ini{
     margin-left: 6.5rem;
  }
  .f-modal{
      margin-right: 2.5rem;
  }
  /*Nav*/
  .imgperfil{
    width: 3rem;
    margin-bottom: 14px;
    height: 3rem;
    border-radius: 100%;
    margin-left: 1.1rem;
   }

   #lupa{
    margin-left: 0.3rem;

   }
   .input-buscador{
    margin-left: 0.8rem;
    border-radius: 8%;
   }
  
   .fa-cart-shopping{
    margin-left: 0.2rem;
    color: #FFFFFF;

   }

/****************************************/
  /*Resgistro  */

h5{
    color: #6C6966 !important;
    text-align:  center!important ;
    font-size: small;
}

/*Resgistro*/

   
  .modal-container {
   background-color: #FFFFFF;
   width: 270px;
   height: 14rem;
   margin: auto;
   position: relative;  
   border-radius: 1rem;
  }
  .modal-form{
  text-align: center;
  color: rgba(150, 148, 148, 0.521);
  
}
.btn-modal{
  font-size: 12px;
  background-color:  #FEBB22;
  color: #FFFFFF;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  margin-top: 2px;
}

.loginReg.passLogin.emailLogin{
    text-align: left;
    color: #42403e !important;
}
.emailLogin{
    
    font-size: medium;
}

.passLogin{
    font-size: medium;
}
   

.modal-inicio{
    display: flex;
    justify-content: center;
}
    /*************************************************************************************************/
    .footer-A{
     display: flex;
     justify-content: space-around;
     margin-top: 30px;
     font-size: 10px;
     color: rgba(128, 0, 128, 0.685);
    }
    /*Submenú lateral izq*/
/*Diseño card empresa*/
.card-Emp{
    width: 340px !important;
    height: 130px !important;
    margin-left: 1.4rem;
    margin-top: 8px !important;
    border-radius: 7px;
    
}
/*Diseño card texto*/
h6.nombre-restaurant{
    color: #6C6966;
}
.card-Emp:hover{
    background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% ) !important;
}
/*Diseño card Producto*/
.card-prod{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-between;
    align-content: center;
    width: 340px !important;
    height: 130px !important;
    margin-left: 1.4rem;
    margin-top: 8px !important;
   
    background-color: #FFFFFF;
    border-radius: 7px;
    
}

/*Diseño btn-orden y precio */
  
.btn-orden{
    background-color:  #FEBB22;
    color: #FFFFFF;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
   }

    /*Diseño Precio  working because, its have to be on left*/
   .card-precio{
    color: #FEBB22;
    text-align: end;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding-left: 0px;
}
    /*Diseño   btn-orden y precio*/

.card-prod:hover{
    background-image: linear-gradient( 102.4deg,  rgba(143, 239, 217, 0.515) 7.8%, rgba(247, 97, 255, 0.635) 100.3% ) !important;
}
/*Imagen de restaurantes*/
.img-res{
width: 120px !important;
height: 60px !important;
}
.img-prod{
    width: 100px !important;
    height: 60px !important; 
    /*Imagen de restaurantes 30 antes*/
    margin-top: 10px;
}
.nombre-restaurant{
    margin-left: 150px;
    margin-top: 15px;
}
.color-star{
    color: #FEBB22;
    margin-left: 150px;
    margin-top: 5px;

} 
.text-descrip{
    font-size: 12px;
    margin-left: 90px;
}
.text-description{
    font-size: 10px;
    margin-left: 90px;
}
#texto{
    display: inline-block !important;
    vertical-align: top !important;
    margin-top: 10px;
    color: #6C6966;
  }
 
}
/*TODO: Orden*/
/*!Orden*/
.cardOrden{

    width: 340px !important;
    height: 150px !important;
    margin: 0.4rem;
    background-color: #bdaeac3a;
    border-radius: 10px;
    

}
/*!Orden Boton*/

.ordenH1{
    margin: 1.5rem;
    color: blueviolet;
}
.PrecioOrden{
    color: #51146d;
    align-items: center;
}

.ordenbutton{
    align-items: center !important;
    margin: 0.5rem;
    padding: 0.5rem;
}

/*!Orden*/




/*TODO: Pago*/
/*TODO: dse encunetra, h1, los input y finalizar orden*/

/*!Encabezado de la targeta*/

.formulario-tarjeta{
    background-color: #FFFFFF;
    width: 19.5rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
}

.addTargeta{
    color: #FFFFFF;
    font-style: bold;
    font-size: 26px;
    text-align: center;
}
.tituloPago{
    background-color:#D9D9D9;
    width: 0.5srem;
    height: 3.20rem;
    font-size: 30px;
    color: rgb(51, 16, 83);
    -webkit-margin-bottom-collapse: separate;
}
/* ! backroung de la targeta*/
.grupoPago{
   
    height: 120%;
}
.opcionOrden{
  
    height: 0;
    padding-bottom: 100px;

}

/* ! buttons*/

.opcionOrden.button{
  align-items: center !important;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 3rem;
}


/* ! button NumeroTarjeta*/
#inputNumero{
    background-color:#D9D9D9;
    width: 16.8rem;
    border-radius: 15px;
    margin: 0.5rem;
}
/* ! button CCV*/
#inputCCV{
    background-color:#D9D9D9;
    width: 6rem;
    border-radius: 15px;
    padding-left: 10px;
    margin: 0.6rem;
}
/* ! button  finalizarOrden*/
.finalizarOrden{
    align-items: left !important;
    width: 13rem !important;
    border-radius: 15px;
    
}

/* !Botton*/
.finalizarOrden{
    align-items: left;
    padding: 0.4rem;
    margin: 3rem;
  
  
  }
/* ! H6 pago, ccv*/
  .Pago{
    margin: 0.6rem;
    padding-top: 0.2rem;
}

.inputext{
    font-size: medium;
    color: rgb(51, 16, 83);
    margin: 0.6rem;
   
}

.tituloPago.h1{
    margin: 0.6rem;
    padding: 10px;
    text-align: center;
}

.img-pago{

   width: 9rem;
}

.footerPago{
 float: auto;
   padding: 80px;
   background-color: #FFC2B2; 
}

.imgFooter{
    
  width: 9.5rem;   
}


/*sub-menus*/
/*TODO: de ayudas*/
/* modal */
/* ! padre */
.modalA{
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #f0e4e4bd; 
    display: flex; 
    opacity: 0; 
    pointer-events: none; 
    transition: opacity .6s .9s; 
    --transform: translateY(-100vh); 
    --transition: transform .8s; 

}

/* Modal-conteinaer   */
/* ! hijo */
.modalB{ 
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

/* ? para modificar la visat del modal */

.modalA--Show { 
    opacity: 1; 
    pointer-events: unset; 
    transition: opacity .6s; 
    --transform: translateY(0); 
    --transition: transform .8s .8s; 
}

.modalCall{
    text-decoration: none;
    color: rgb(6, 2, 7);
    background-color: #bdaeac;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;

}

.modalclose{
    text-decoration: none;
    color: rgb(43, 13, 46);
    background-color: #f59f00;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modalclose:hover{
    color: #FEBB22;
    background-color:blueviolet;
}

.ayuda , h1 p{
    text-align: center;
    margin-bottom:20px ;
    font-weight: 300s;
    color: #6C6966;
    
}

.modalclose, .modalCall{
    color: #000000;
    
}


.img-ayuda{
    width: 12rem;
}


/** Segurida*/
/*TODO: Falta verificar el cierre*/
.contenerSeguridad{
    background-color: #fffdfa7c;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
}



.Seg-titulo1{
    
    font-style:bold;
    margin-top:1rem;
    font-size: 1.8rem;
    color: #3d3544;
    border-radius: 0;
    text-align: center;



}
.Seg-titulo{
   
    font-style:bold;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-align: center;
    color: #3d3544;
}
.Seg-text{
    background-color: rgba(255, 255, 255, 0.322);
    font-style:bold;
    margin-top:1rem;
    margin-bottom: 1.3rem;
    font-size: 1.4rem;
    text-align: center;
    color: #1b1a1d;
    border-radius: 25px;
}





/*TODO: */
/**cupon*/

.contenetdorCupon{
    background-color: #fffdfa7c;
}


.cupon-titule{
    font-style:bold;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
    padding-top: 26px;
    color: #211727;
   
}
.cupon-titule{
    background-color: #c5b8ac41 !important;
    border-radius: 28px;
}

.cupon-text{ 
padding: 10px;
margin: 20px;

}

.cupondiv{
    display: flex;
    
}
.cupondiv{
   height: 9rem;
    
}

.btncodigo{
    align-items: center !important;
    max-width: 10rem !important;
    padding: 10px;
    margin: 30px;
    width: 30px;
    background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% ) !important;
     color: #6C6966;
     border-radius: 15px;
     border: 0;
     cursor: pointer;
}

.cupon-img {
    padding: 0.5rem;
   margin-bottom: 10px;
    font-display: flex;
    width: 10rem;
}


/*TODO: */
/**Mis Pedidos*/

.contenedorPedidos{
   background-color: #fff;
}

.pedido-h{
    display: flex;
}

.Pedidos-titulo{
    text-align: center;
   padding: 10px;
    margin: 0;
    color:#6C6966;
}
/*! terminer  no estan posicionados los titulos */
.pedido-h{
    display: flex;
}
.pedido-H1{
    padding: 20px;
    font-size: small;
 
    color: #6C6966;
}

.pedido-H2{
    font-size: small;
  
    color: #6C6966;
}
/**! faltan los botenes he igual*/
.pedi-btn{
    display: flex;
    align-items: center !important;
    padding: 10px;
    margin: 30px;
    width: 10rem;
     border-radius: 15px;
     border: 0;
     cursor: pointer;
}

.btnPedidosb, .btnPedidosa{
    align-items: center !important;
    padding: 10px;
    margin: 30px;
    width: 10rem;
    
}